<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <body>

    <% chapters.each do |chapter| %>
      <div class="chapter" id="chapter-<%= chapter.index %>">

        <% chapter.sections.each do |section| %>
          <%= render :section => section %>
        <% end %>

      </div>
    <% end %>

  </body>

</html>
